page-dog-profile {
	.image-profile{
		max-height:275px !important;
		min-width:100%;
	}
	#sectionInfo{
		background-color: #00AFB5;
		color:white;
	}
	#titlename{
	background-color: #2a0671
	}
	#description{
	background-color: #61E8E1;
	}
	#notes{
	background-color: #EFD28D;
	}
	#list{
	backgroud-color: #EAF2E3;
	}
	.clave{
	font-size: 1.3em;
	}
}
