<ion-header translucent="true" no-border>
  <ion-navbar color=‘light’ transparent hide-nav-bar="true">
    	
    <ion-title> </ion-title>
  </ion-navbar>
</ion-header>


<ion-content fullscreen>
<img src="https://www.chikavi.com/{{dog.imagen}}" style="position: relative;top:-4.5em;max-height: auto;" alt="">
	<ion-grid id="sectionInfo" style="margin-top:-5em;" >
		
	<h2 text-center>{{ dog.nombre }}</h2>
		<ion-row >
			<ion-col text-center>
				<p class="clave">Especie: </p>
				<p>{{dog.especie }}</p>
				<p class="clave">Color: </p>
				<p>{{dog.color}}</p>
			</ion-col>

			<ion-col text-center>
				<p class="clave">Raza:</p>
				<p>{{dog.raza}}</p>
				<p class="clave">Sexo:</p>
				<p>{{dog.sexo}}</p>

			</ion-col>
		</ion-row>
	</ion-grid>
	<div *ngIf="owner">
		<ion-row>
			<ion-col></ion-col>
			<ion-col text-center><ion-icon name="locate" style="zoom:2.0;color:blue;"></ion-icon><br>Perdi mi perro</ion-col>
			<ion-col text-center><ion-icon name="create" style="zoom:2.0;color:green;"></ion-icon><br>Editar</ion-col>
			<ion-col text-center (click)="advertencia(dog.id)"><ion-icon name="trash" style="zoom:2.0;color:red;"></ion-icon><br>Eliminar</ion-col>
			<ion-col></ion-col>
		</ion-row>
		</div>
<ion-card id="description">

  <ion-card-header>
     Señas Particulares: 
  </ion-card-header>

  <ion-card-content [innerHTML]="dog.senas">
    
  </ion-card-content>

</ion-card>

<ion-card id="notes">

  <ion-card-header>
     Notas
  </ion-card-header>

  <ion-card-content [innerHTML]="dog.notas">
  </ion-card-content>

</ion-card>

	<ion-list color="primary" no-lines>

	    <button ion-item (click)="showvaccinations()" >
	      <ion-icon  item-start name="paw"></ion-icon>
	      Programa de Vacunacion
	    </button>
		<button ion-item (click)="showdeworming()">
		   <ion-icon  item-start name="medkit"></ion-icon>
		      Programa de Desparasitación
		</button>
  </ion-list>
		<!-- <div *ngIf="!adoptado">
			<button ion-button (click)="showformAdopt()" color="cut-green" block> Adoptar!</button>
		</div>
		<div *ngIf="adoptado">
			<button ion-button color="primary" block> ¿Quien es su dueño?</button>
		</div> -->
</ion-content>
