<ion-header>
  <ion-navbar color="titlename" >
    <ion-title center>{{dog.nombre}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
	<ion-card>
		 <img src="https://www.chikavi.com/{{dog.imagen}}"/>
	</ion-card>

	<ion-grid id="sectionInfo" >
		<ion-row >
			<ion-col text-center>
				<p class="clave">Especie: </p>
				<p>{{dog.especie }}</p>
				<p class="clave">Color: </p>
				<p>{{dog.color}}</p>
			</ion-col>

			<ion-col text-center>
				<p class="clave">Raza:</p>
				<p>{{dog.raza}}</p>
				<p class="clave">sexo:</p>
				<p>{{dog.sexo}}</p>

			</ion-col>
		</ion-row>
	</ion-grid>
<ion-card id="description">

  <ion-card-header>
     Señas Particulares: 
  </ion-card-header>

  <ion-card-content [innerHTML]="dog.senas">
    
  </ion-card-content>

</ion-card>

<ion-card id="notes">

  <ion-card-header>
     Notas
  </ion-card-header>

  <ion-card-content [innerHTML]="dog.notas">
  </ion-card-content>

</ion-card>

	<ion-list color="primary" no-lines>

	    <button ion-item (click)="showvaccinations()" >
	      <ion-icon  item-start name="paw"></ion-icon>
	      Programa de Vacunacion
	    </button>
		<button ion-item (click)="showdeworming()">
		   <ion-icon  item-start name="medkit"></ion-icon>
		      Programa de Desparasitación
		</button>
  </ion-list>
		<div *ngIf="!adoptado">
			<button ion-button (click)="showformAdopt()" color="cut-green" block> Adoptar!</button>
		</div>
		<div *ngIf="adoptado">
			<button ion-button color="primary" block> ¿Quien es su dueño?</button>
		</div>
</ion-content>
