<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="home" no-border>
  	<ion-buttons>
      <button ion-button 
          (click)="closeModal()">
        Cerrar      
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>
	<div *ngIf="isactive">
		<h2 text-center><strong>Mascotas</strong></h2>
		<ion-row>
			<div class="round-button green-color" (click)="goToCreatePet()"><div class="round-button-circle green-color" style="border:10px solid  !important;"><a class="round-button" style="background: #155851;">Agregar</a></div></div>

			<div class="round-button" *ngFor="let perro of perros">
				<div class="round-button-circle" (click)="abrir_perfil(perro.qr_code)">
					<a  class="round-button" >
						{{perro.nombre}}
					</a>
				</div>
			</div>
		</ion-row>
			<h2 text-center>{{datos.name}}</h2>
		<ion-row>
			<ion-col text-center>
				<p ><strong>Correo</strong></p>
				<p>{{datos.email}}</p>
			</ion-col>
			<ion-col text-center> 
				<p ><strong>Creado</strong></p>
				<p>{{datos.created_at}}</p>
			</ion-col>
		</ion-row>
	


    <ion-footer no-shadow>
		<ion-toolbar position="bottom">
      		<button ion-button class="register-btn  color-red" block clear (click)="logout()">Cerrar sesión</button>
		</ion-toolbar>
	</ion-footer>

	</div>


	<div *ngIf="!isactive">
		 <form (ngSubmit)="login()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>

            <ion-item>
              <ion-input type="text" placeholder="Correo" name="email" [(ngModel)]="email"   required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="password" placeholder="Contraseña" name="password" [(ngModel)]="password"  required></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <button ion-button color="home" class="submit-btn" full round  type="submit" [disabled]="!registerForm.form.valid">Ingresar</button>
      </ion-row>

    </form>

    <ion-row>
      <button ion-button class="register-btn" block clear (click)="createAccount()">Crear una cuenta</button>
    </ion-row>
   
	</div>
</ion-content>
