


<ion-menu [content]="content"  >
  <ion-header no-border>
    <ion-toolbar center color="home">
      <ion-title style="text-align: center;">Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content   style="background: #17202f !important;">
    <ion-list style="padding: 0em 1em;margin-top:5em;" no-lines>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p) "  style="background: #17202f !important;color:white;">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<div *ngIf="showSplash" class="splash">
 <div class="spinner">
  <div class="dot1"></div>
  <div class="dot2"></div>
</div>
</div>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->