
<ion-header no-border>

  <ion-navbar color="home"> 
    <ion-title>{{datos.titulo}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-card>
		 <img src="{{datos.imagen}}"/>
		 <p text-justify padding>{{datos.texto}}</p>

		 <div *ngIf=datos.administradores>

		 	<ion-list *ngFor="let admin of datos.administradores">
			  <ion-item>
			    <ion-avatar item-start>
			      <img src="{{admin.imagen}}">
			    </ion-avatar>
			    <h2>{{admin.nombre}}</h2>
			    <p>{{ admin.cargo }}</p>
			    <p>{{ admin.correo }}</p>
			    <p>{{ admin.numero }}</p>
			  </ion-item>
			</ion-list>
		 </div>
	</ion-card>
</ion-content>
